@media screen and (max-width: 768px) {
    :host ::ng-deep .p-element {
        width: 100%;
    }
    :host ::ng-deep .p-dialog-footer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    :host ::ng-deep .p-dialog {
        max-width: 100%;
    }
}

:host ::ng-deep .p-dialog {
    max-width: 50%;
}

:host ::ng-deep .p-button {
    width: 120px;
}