@media screen and (max-width: 768px) {
    :host ::ng-deep .p-element {
        width: 100%;
    }
    :host ::ng-deep .p-dialog-footer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}