<div>
    <div class="flex justify-items-center align-items-center w-full">
        <div class="flex gap-8 justify-content-center align-items-center w-full h-full">
            <img class="w-1" src="../../../assets/images/WinePlaceholder.png" alt="Wine image">
            <div class="flex flex-column gap-4 w-4">
                <p-card class="flex flex-column">
                    <div>
                        <h1 class="text-xxl">{{wine?.name}}</h1>
                        <h2 class="text-lg">{{wine?.id}}</h2>
                        <p>Harvest: {{wine?.years?.harvest}}</p>
                        <p>Bottling: {{wine?.years?.bottling}}</p>
                        <div>
                            Tags: 
                            <span *ngFor="let tag of wine?.tags">{{ tag | wineTag }}</span>
                        </div>
                        <p class="text-green-500">${{wine?.price}}</p>
                        <div [ngClass]="{'text-green-800': wine?.available, 'text-red-700': !wine?.available}">
                            {{ wine?.available ? 'Available' : 'Sold Out' }}
                        </div>
                    </div>
                    <div class="flex gap-4 w-full justify-content-start mt-4">
                        <div class="card flex justify-content-start gap-2">
                            <p-confirmDialog>
                                <ng-template pTemplate="acception">
                                    <p-button styleClass="p-button-success" label="Acception"></p-button>
                                </ng-template>
                            </p-confirmDialog>
                            <p-button (click)="addToCart()" icon="pi pi-cart-plus" label="Add to cart" styleClass="p-button-success"></p-button>
                            <p-button (click)="delete($event)" icon="pi pi-times" label="Delete" styleClass="p-button-danger"></p-button>
                            <p-button (click)="showAddModal()" icon="pi pi-pencil" label="Edit" styleClass="p-button-warning"></p-button>
                            <p-toast></p-toast>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>

<app-add-edit-wine [displayAddModal]="displayAddModal" (clickClose)="hideAddModal($event)" [wineId]="wine?.id" [isAdd]="false" (updateWineComponent)="updateWine($event)"></app-add-edit-wine>
