<div class="hero-image flex justify-content-center align-items-center">
    <div class="background-shadow">
        <div class="flex flex-column hero-text text-shadow">
            <h1 class="text-white">Finest selection of Wines</h1>
            <span class="text-white text-lg">WineExhcnage focuses on providing highest quality products for it's price with fastest possible delivery!</span>
            <div class="mt-4">
                <p-button [routerLink]="'/wines'" icon="pi pi-shopping-cart" label="Shop Now" class="p-button-lg">
                </p-button>
            </div>
        </div>
    </div>
</div>
