:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .p-dataview-list, 
:host ::ng-deep .p-dataview-grid { 
    width: 80%;
}

.grid-item {
    width: 32%;
    margin: 8px auto;
}

.mt-12 {
    margin-top: 8rem;
}