:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid-item {
    width: 30% !important;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

// .p-dataview-content > div {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: center;
// }

// ng-template {
//     color: red;
// }

// .grid-item {
//     width: 30%;
// }

// .items-list {
//     width: 90%;
// }