.blur-background {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
    // background-color: rgba(248, 237, 221, 0.2);
    background-color: rgba(var(--yellow-100), 0.2);
    overflow: hidden;
}

.icon {
    font-size: 2rem;
}

.container {
    display: flex;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}

:host ::ng-deep .p-button {
    display: none;
}

:host ::ng-deep .p-component-overlay {
    z-index: 1;
}

:host ::ng-deep .p-button {
    background-color: transparent;
    border: none;
    color: black;
    &:focus {
        background-color: transparent;
        border: none;
        color: black;
    }
}

@media screen and (max-width: 768px) {
    .nav-icon {
        display: none;
    }

    :host ::ng-deep .p-button {
        display: block;
    }
}
